@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family:'Open Sans', sans-serif;
}
.throw-result{
    height: 75px;
    width: 100px;
    text-align: center
}
button{
    margin-bottom: 10px; 
}